Brotli
certifi
charset-normalizer
cloudpickle==3.1.0
contourpy==1.1.1
cycler==0.12.1
Farama-Notifications==0.0.4
filelock
fonttools==4.54.1
gmpy2
gym==0.23.0
gym-notices==0.0.8
gymnasium==0.28.1
idna
importlib_metadata==8.5.0
importlib_resources==6.4.5
jax-jumpy==1.0.0
Jinja2
kiwisolver==1.4.7
MarkupSafe
matplotlib==3.7.5
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
networkx
numpy
packaging==24.1
pandas==2.0.3
pillow
pygame==2.3.0
pyparsing==3.1.4
PySocks
python-dateutil==2.9.0.post0
pytz==2024.2
requests
sb3_contrib==2.3.0
Shimmy==0.2.1
six==1.16.0
stable_baselines3==2.3.2
sympy
torch==2.0.0
torchvision==0.15.0
typing_extensions
tzdata==2024.2
urllib3
zipp==3.20.2
